
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>


<div class="row">
    <div class="col-lg-4">
        <a href="/Manage/Draw">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-body text-center">
                            Manage Draws
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Manage/Source">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-body text-center">
                        Manage Coordinators
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Manage/Draw">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-body text-center">
                        Manage Users
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <a href="/Manage/Draw">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-body text-center">
                            Manage Bet Limit
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>









