

@model Swertres.Web.Models.ViewModels.SourceListModel
<div>
    <h3>List of Draws</h3>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Share (%)</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.SourceList)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.SourceID)</td>
                    <td> @Html.DisplayFor(m => i.SourceName)</td>
                    <td> @Html.DisplayFor(m => i.Share) %</td>
                    <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" id="btnEdit">Edit</button></td>
                    <td><button type="button" class="btn btn-info btn-sm" id="btnCloseDraw">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>